# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Week9-HW-DataStructure.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\NYU\研一冬季\Code Lab 1\Codelab1-S21-ClassCode\Week9-HW-DataStructure\.idea\.idea.Week9-HW-DataStructure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
